body {
  margin: 0;
}

h1, h2, h3, h4, h5 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;

  font-weight: normal;
  font-size: 1em;
}

@import "./scss/header.scss";
@import "./scss/main.scss";
@import "./scss/footer.scss";